.content-2 {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: yellow;
    margin-left: 30px;
}

.container-next-2 {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.container-next-1 {
    display: block;
    flex-direction: column;
    margin-left: 30px;
}

.content-1 {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: yellow;
    margin-top: 30px;
}

.container-mainn {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
}